<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarp</title>
    
    <%- include('../partials/header') -%>
    
</head>
<body>
    <div class="nav">
        <a href="/login">login</a>
    </div>
    <div id="landing">
        <h1>SharedTV</h1>
        <a href="/signup" class="btn">sign up</a>
    </div>
</body>
</html>